.about-page {
  background-color: #D3EAFE;
  text-align: center;
  padding: 2rem;
}

.about-section {
  background: rgba(197, 226, 239, 0.55);
  color: rgb(16, 14, 14);
  padding: 2rem;
  border-radius: 12px;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.about-subtitle {
  font-size: 1.2rem;
}

.team-card {
  background-color: #fff8f0;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.team-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* Responsive Fix */
@media (max-width: 768px) {
  .about-title {
    font-size: 2rem;
  }

  .about-subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .team-card h2 {
    font-size: 1.2rem;
  }

  .team-card p {
    font-size: 0.9rem;
  }
}
